*{margin: 0px; padding: 0px;}
ul{list-style: none;} /* 리스트 앞에 .과 같은 거 제거*/
/* a{text-decoration: none;}  링크에 밑줄 같은 거 제거*/

header{
    width: 700px; 
    height: 350px;
    background-color: azure;

/* .html에서 header 안에 logo, top_menu,nav가 있음*/
/* absolute 요소가 header의 좌상단을 기준으로 하려면
   header의  position이 relative 이어야 함*/
   position: relative;

}

#logo{
    position: absolute;
    /*header의 position: absolute를 주면 웹 브라우저 좌측 상단(0,0)을 기준을 위치 지정*/
    top: 30px;
    right: 10px;

}

#content li{
    display: inline; /*가로로*/
    margin-left: 50px;
}

